node-red/flows/Dummy_HVLV_channels_flows.json
[
    {
        "id": "a70d564f299b1a24",
        "type": "tab",
        "label": "multichannel_flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "31a266507861a81a",
        "type": "debug",
        "z": "a70d564f299b1a24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "af51259ca4c7177a",
        "type": "function",
        "z": "a70d564f299b1a24",
        "name": "",
        "func": "var payload=msg.payload; //get payload\nif (payload==\"msg.payload[0].on\"){\n    return [msg,null];\n    \n}\nif (payload==\"msg.payload[0].off\"){\n    return [null,msg];\n    \n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 140,
        "wires": [
            [
                "3f4e7b952f09011c",
                "2a67df9f1db32c74"
            ],
            [
                "31a266507861a81a"
            ]
        ]
    },
    {
        "id": "419feef3488d1c44",
        "type": "change",
        "z": "a70d564f299b1a24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].off",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "af51259ca4c7177a"
            ]
        ]
    },
    {
        "id": "54c533279d6f739b",
        "type": "change",
        "z": "a70d564f299b1a24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].on",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 180,
        "wires": [
            [
                "af51259ca4c7177a"
            ]
        ]
    },
    {
        "id": "8b40ddd73cebcf16",
        "type": "mqtt in",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/lv/status",
        "qos": "2",
        "datatype": "json",
        "broker": "f5b1ac36.5f63b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 120,
        "wires": [
            [
                "419feef3488d1c44",
                "54c533279d6f739b"
            ]
        ]
    },
    {
        "id": "a8f7c8d5488bccb2",
        "type": "mqtt in",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/hv/status",
        "qos": "2",
        "datatype": "json",
        "broker": "f5b1ac36.5f63b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 140,
        "y": 220,
        "wires": [
            [
                "419feef3488d1c44",
                "54c533279d6f739b"
            ]
        ]
    },
    {
        "id": "c343150d7bc02677",
        "type": "mqtt out",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/lv/cmd/switch/0",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5b1ac36.5f63b",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "25041a2b0e1a75d2",
        "type": "mqtt out",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/hv/cmd/switch/0",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5b1ac36.5f63b",
        "x": 870,
        "y": 160,
        "wires": []
    },
    {
        "id": "19fa8ada874b8889",
        "type": "mqtt out",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/hv/cmd/setv/0",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5b1ac36.5f63b",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "69220e032e7db1f3",
        "type": "ui_numeric",
        "z": "a70d564f299b1a24",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "7d0826bf.201e9",
        "order": 9,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 560,
        "y": 640,
        "wires": [
            [
                "19fa8ada874b8889"
            ]
        ]
    },
    {
        "id": "5ccd31f62944d3cf",
        "type": "change",
        "z": "a70d564f299b1a24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].vreq",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 560,
        "wires": [
            [
                "c4e87412ddee7a14",
                "69220e032e7db1f3",
                "be77204cb32a8bac",
                "a71beb35afaf4c48"
            ]
        ]
    },
    {
        "id": "c185cd54f7bf9e0d",
        "type": "debug",
        "z": "a70d564f299b1a24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "39e897cad8b05910",
        "type": "mqtt in",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/hv/status",
        "qos": "2",
        "datatype": "json",
        "broker": "f5b1ac36.5f63b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 560,
        "wires": [
            [
                "5ccd31f62944d3cf"
            ]
        ]
    },
    {
        "id": "c4e87412ddee7a14",
        "type": "ui_gauge",
        "z": "a70d564f299b1a24",
        "name": "",
        "group": "7d0826bf.201e9",
        "order": 4,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "HV (V)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 720,
        "wires": []
    },
    {
        "id": "be77204cb32a8bac",
        "type": "ui_chart",
        "z": "a70d564f299b1a24",
        "name": "",
        "group": "7d0826bf.201e9",
        "order": 10,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "8c63cdfe7a2e80f1",
        "type": "change",
        "z": "a70d564f299b1a24",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0].vreq",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 480,
        "wires": [
            [
                "27420f43746832aa",
                "08d374d427a50d7a",
                "90a34dada0c07c93",
                "241f837f4d4472b7"
            ]
        ]
    },
    {
        "id": "f497533e5ee8f7a0",
        "type": "mqtt out",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/lv/cmd/setv/0",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f5b1ac36.5f63b",
        "x": 760,
        "y": 440,
        "wires": []
    },
    {
        "id": "7d10c0f7633ffd86",
        "type": "mqtt in",
        "z": "a70d564f299b1a24",
        "name": "",
        "topic": "/lv/status",
        "qos": "2",
        "datatype": "json",
        "broker": "f5b1ac36.5f63b",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 480,
        "wires": [
            [
                "8c63cdfe7a2e80f1"
            ]
        ]
    },
    {
        "id": "27420f43746832aa",
        "type": "ui_gauge",
        "z": "a70d564f299b1a24",
        "name": "",
        "group": "453b130aa9ddfbad",
        "order": 3,
        "width": "6",
        "height": "3",
        "gtype": "gage",
        "title": "LV (V)",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "50",
        "className": "",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "08d374d427a50d7a",
        "type": "ui_numeric",
        "z": "a70d564f299b1a24",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "453b130aa9ddfbad",
        "order": 8,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "f497533e5ee8f7a0"
            ]
        ]
    },
    {
        "id": "90a34dada0c07c93",
        "type": "ui_chart",
        "z": "a70d564f299b1a24",
        "name": "",
        "group": "453b130aa9ddfbad",
        "order": 9,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3f4e7b952f09011c",
        "type": "ui_switch",
        "z": "a70d564f299b1a24",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "453b130aa9ddfbad",
        "order": 1,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "power_settings_new",
        "oncolor": "green",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "power_settings_new",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 680,
        "y": 100,
        "wires": [
            [
                "c343150d7bc02677"
            ]
        ]
    },
    {
        "id": "241f837f4d4472b7",
        "type": "ui_slider",
        "z": "a70d564f299b1a24",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "453b130aa9ddfbad",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 480,
        "wires": [
            [
                "f497533e5ee8f7a0",
                "c185cd54f7bf9e0d"
            ]
        ]
    },
    {
        "id": "2a67df9f1db32c74",
        "type": "ui_switch",
        "z": "a70d564f299b1a24",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "7d0826bf.201e9",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "power_settings_new",
        "oncolor": "green",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "power_settings_new",
        "offcolor": "red",
        "animate": true,
        "className": "",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "25041a2b0e1a75d2"
            ]
        ]
    },
    {
        "id": "a71beb35afaf4c48",
        "type": "ui_slider",
        "z": "a70d564f299b1a24",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "7d0826bf.201e9",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "19fa8ada874b8889"
            ]
        ]
    },
    {
        "id": "f5b1ac36.5f63b",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "7d0826bf.201e9",
        "type": "ui_group",
        "name": "High Voltage ",
        "tab": "48b344b7.f0736c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "453b130aa9ddfbad",
        "type": "ui_group",
        "name": "Low Voltage",
        "tab": "48b344b7.f0736c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48b344b7.f0736c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]